In [18]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('data.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
df = df[['text', 'location', 'coords']]

In [21]:
df = df[~df['location'].isna()]

In [22]:
df.head()

,text,location,coords
0,@RealYungYogi Hey there! We would be happy to ...,"San Francisco, CA",NaN
2,RT @Noahpinion: Lockdowns are less important t...,"Brooklyn, NY",NaN
3,RT @alissa_ashleyy: People do things and then ...,On The Run.,NaN
6,The SI Class of 2005 had dinner tonight togeth...,"San Francisco, California, USA",NaN
7,@abcdefghijkLMAO What a little slice of heaven...,"Oakland, CA",NaN

In [23]:
has_comma = df[df['location'].str.contains(',')]

In [24]:
len(has_comma)

407192

In [25]:
has_comma.head()

,text,location,coords
0,@RealYungYogi Hey there! We would be happy to ...,"San Francisco, CA",NaN
2,RT @Noahpinion: Lockdowns are less important t...,"Brooklyn, NY",NaN
6,The SI Class of 2005 had dinner tonight togeth...,"San Francisco, California, USA",NaN
7,@abcdefghijkLMAO What a little slice of heaven...,"Oakland, CA",NaN
8,so next time I deal with this nightmare I'm go...,"Milpitas, CA",NaN

In [26]:
coords = df[~df['coords'].isna()]

In [27]:
coords.head()

,text,location,coords
2588,Sun can never set without Pizza. @ Tony &amp; ...,Tony & Alba's Pizza San Jose,"{'type': 'Point', 'coordinates': [-121.9515021..."
3187,"Slim Sunbleached @ San Francisco, California h...","San Francisco, CA","{'type': 'Point', 'coordinates': [-122.419, 37..."
3350,Wild Thing!\nNo Truer Spirit than She... \nNo ...,san francisco,"{'type': 'Point', 'coordinates': [-122.419, 37..."
4037,Still loving our badass 10' table from vanpatt...,"California, USA","{'type': 'Point', 'coordinates': [-121.7866766..."
4534,Happiest Happy Birthday\nðŸŽ‚ðŸŽ‚ @nigaarzkhan ðŸŽ‚ðŸŽ‚ @ ...,Karachi & Aligarh,"{'type': 'Point', 'coordinates': [-122.419, 37..."

# Wikipedia
To get the cities in the bay area

In [28]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [29]:
link = "https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_the_San_Francisco_Bay_Area"

tables = pd.read_html(link)

In [30]:
cities = list(tables[1].iloc[2:,0])

In [31]:
cities[:3]

['Alameda', 'Albany', 'American Canyon']

In [55]:
counties = pd.DataFrame({'city': cities, 'county': list(tables[1].iloc[2:,2])})

In [56]:
counties.head()

              city        county
0          Alameda       Alameda
1           Albany       Alameda
2  American Canyon          Napa
3          Antioch  Contra Costa
4         Atherton     San Mateo

# Get Bay Area Cities

In [36]:
has_comma['city'] = has_comma['location'].str.split(',').apply(lambda x: x[0])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
bay_area = has_comma[has_comma['city'].isin(cities)]

In [43]:
bay_area.groupby('city').size().sort_values(ascending=False).head()

city
San Francisco    97243
Oakland          39227
San Jose         28672
Berkeley         10467
Sunnyvale         5130
dtype: int64

In [58]:
bay_area = bay_area.merge(counties, how='left', on='city')

In [59]:
bay_area.drop_duplicates(inplace=True)

In [60]:
len(bay_area)

235444

In [61]:
bay_area.to_csv('bay_area.csv', header=True, index=False)

In [62]:
bay_area.groupby('city').size().sort_values()

city
Healdsburg             1
Cloverdale             2
Calistoga              2
Rio Vista              3
Cotati                 4
Monte Sereno           7
Suisun City            7
Dixon                  8
Sebastopol            12
Ross                  12
Gilroy                13
Rohnert Park          13
Morgan Hill           14
Vacaville             15
Colma                 17
Petaluma              22
Sonoma                34
Windsor               38
Santa Rosa            57
Napa                  57
Hillsborough          59
Clayton               65
Fairfield             75
Piedmont              89
Tiburon               93
Corte Madera          94
Orinda                96
Millbrae              96
Portola Valley       104
Los Altos Hills      106
                   ...
Milpitas             774
Los Gatos            785
Dublin               795
Novato               822
Union City           902
Pittsburg            968
Pleasanton           997
San Rafael          1002
San Bruno           1087
Concord             1134
Menlo Park          1146
Livermore           1210
Antioch             1220
San Leandro         1311
Alameda             1497
Walnut Creek        1521
Redwood City        1631
Cupertino           2060
San Mateo           2063
Fremont             2064
Hayward             3096
Vallejo             3107
Santa Clara         3121
Mountain View       3657
Palo Alto           4346
Sunnyvale           5121
Berkeley           10321
San Jose           28210
Oakland            38590
San Francisco      95301
Length: 98, dtype: int64

In [50]:
len(bay_area)

235444