In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data_june.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df[['text', 'location', 'coords']]

In [4]:
df = df[~df['location'].isna()]

In [5]:
df.head()

,text,location,coords
0,@omw2notfuc age and place of sexual harassment,"San Francisco, CA",NaN
3,@marcorubio I feel like you make up your own n...,"San Francisco, CA",NaN
4,RT @BrandiJeter: Thank you for your Black Live...,"Houston, TX",NaN
5,"RT @AppleMusic: On Tuesday, June 2nd, Apple Mu...",United States,NaN
6,"RT @SpeakerPelosi: Across our country, America...","Massachusetts, USA",NaN

In [6]:
has_comma = df[df['location'].str.contains(',')]

In [7]:
len(has_comma)

330697

In [8]:
has_comma.head()

,text,location,coords
0,@omw2notfuc age and place of sexual harassment,"San Francisco, CA",NaN
3,@marcorubio I feel like you make up your own n...,"San Francisco, CA",NaN
4,RT @BrandiJeter: Thank you for your Black Live...,"Houston, TX",NaN
6,"RT @SpeakerPelosi: Across our country, America...","Massachusetts, USA",NaN
7,@MrAndyNgo Still faking an English accent?,"San José, California",NaN

In [9]:
coords = df[~df['coords'].isna()]

In [10]:
coords.head()

,text,location,coords
67,Set your peace powers to maximum! #peace #mus...,San Francisco,"{'type': 'Point', 'coordinates': [-122.419, 37..."
1216,Can’t say it any better. #blacklivesmatter #st...,"San Francisco, CA","{'type': 'Point', 'coordinates': [-122.419, 37..."
1587,Pretty in Pink - by the pool - original artwor...,"San Francisco, CA","{'type': 'Point', 'coordinates': [-122.275, 37..."
1621,Pic 1 of 10 artist/performer challenge. Everyd...,"Brooklyn, NY","{'type': 'Point', 'coordinates': [-122.405002,..."
1662,"""Homeless feces"" (Downtown, D3) https://t.co/5...","San Francisco, CA","{'type': 'Point', 'coordinates': [-122.4193528..."

In [11]:
len(coords)

1005

# Wikipedia
To get the cities in the bay area

In [12]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [13]:
link = "https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_the_San_Francisco_Bay_Area"

tables = pd.read_html(link)

In [14]:
cities = list(tables[1].iloc[2:,0])

In [15]:
cities[:3]

['Alameda', 'Albany', 'American Canyon']

In [16]:
counties = pd.DataFrame({'city': cities, 'county': list(tables[1].iloc[2:,2])})

In [17]:
counties.head()

              city        county
0          Alameda       Alameda
1           Albany       Alameda
2  American Canyon          Napa
3          Antioch  Contra Costa
4         Atherton     San Mateo

# Get Bay Area Cities

In [18]:
has_comma['city'] = has_comma['location'].str.split(',').apply(lambda x: x[0])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
bay_area = has_comma[has_comma['city'].isin(cities)]

In [20]:
bay_area.groupby('city').size().sort_values(ascending=False).head()

city
San Francisco    61494
Oakland          24694
San Jose         15547
Berkeley          6990
Palo Alto         2744
dtype: int64

In [22]:
bay_area = bay_area.merge(counties, how='left', on='city')

In [23]:
bay_area.drop_duplicates(inplace=True)

In [24]:
len(bay_area)

143511

In [25]:
bay_area.to_csv('bay_area.csv', header=True, index=False)

In [26]:
bay_area.groupby('city').size().sort_values()

city
Yountville             1
Cloverdale             1
Calistoga              1
Rio Vista              2
Monte Sereno           4
Ross                   5
Dixon                  7
Cotati                 7
Healdsburg             7
Suisun City            7
Colma                  8
Rohnert Park           9
Sebastopol            14
Gilroy                14
Sonoma                17
Vacaville             21
Morgan Hill           36
Napa                  38
Windsor               41
Corte Madera          47
Los Altos Hills       48
Orinda                58
Santa Rosa            60
Fairfield             61
Woodside              64
Petaluma              66
Piedmont              68
Larkspur              68
Millbrae              73
Portola Valley        80
                   ...
Brentwood            470
Milpitas             490
San Rafael           519
Campbell             535
Dublin               578
Pittsburg            626
San Ramon            634
San Bruno            708
Pleasanton           754
Livermore            771
Antioch              772
Menlo Park           781
Concord              800
San Leandro          840
Redwood City         946
Cupertino           1085
Alameda             1152
Fremont             1256
San Mateo           1266
Walnut Creek        1362
Vallejo             1512
Santa Clara         1838
Hayward             1866
Mountain View       2127
Sunnyvale           2642
Palo Alto           2713
Berkeley            6741
San Jose           14914
Oakland            23397
San Francisco      59175
Length: 99, dtype: int64

In [27]:
len(bay_area)

143511